In [2]:
import pandas as pd

# Merging all data to an object and sending to database
movies = pd.read_csv("data/final_data/movies.csv")

print(movies)
print(movies.columns)

        imdbId  titleType                               primaryTitle  \
0            5      short                           Blacksmith Scene
1            8      short     Edison Kinetoscopic Record of a Sneeze
2           10      short                        Leaving the Factory
3           12      short                     The Arrival of a Train
4           14      short                        The Waterer Watered
...        ...        ...                                        ...
26689  4377918      movie                        Crazy Beautiful You
26690  4397346      movie                              Bikes vs Cars
26691  4438688      movie                              Polskie gówno
26692  4475970      short                              Power Rangers
26693  4530184  tvSpecial  Aziz Ansari Live in Madison Square Garden

                                   originalTitle  isAdult  startYear  endYear  \
0                               Blacksmith Scene      0.0     1893.0      NaN
1         Edison Kinetoscopic Record of a Sneeze      0.0     1894.0      NaN
2            La sortie de l'usine Lumière à Lyon      0.0     1895.0      NaN
3               L'arrivée d'un train à La Ciotat      0.0     1896.0      NaN
4                              L'arroseur arrosé      0.0     1895.0      NaN
...                                          ...      ...        ...      ...
26689                        Crazy Beautiful You      0.0     2015.0      NaN
26690                              Bikes vs Cars      0.0     2015.0      NaN
26691                              Polskie gówno      0.0     2014.0      NaN
26692                              Power Rangers      0.0     2015.0      NaN
26693  Aziz Ansari Live in Madison Square Garden      0.0     2015.0      NaN

       runtimeMinutes                genres  movieId
0                 1.0          Comedy,Short    95541
1                 1.0     Documentary,Short    88674
2                 1.0     Documentary,Short   120869
3                 1.0     Documentary,Short    98981
4                 1.0          Comedy,Short   113048
...               ...                   ...      ...
26689           114.0  Comedy,Drama,Romance   130089
26690            90.0           Documentary   129822
26691            93.0        Comedy,Musical   128734
26692            14.0   Action,Sci-Fi,Short   130842
26693            58.0                Comedy   131017

[26694 rows x 10 columns]
Index(['imdbId', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'movieId'],
      dtype='object')

In [4]:
# dropping not needed columns
movies.drop('movieId', axis=1)
movies.drop('imdbId', axis=1)

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,movieId
0,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,"Comedy,Short",95541
1,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0.0,1894.0,NaN,1.0,"Documentary,Short",88674
2,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0.0,1895.0,NaN,1.0,"Documentary,Short",120869
3,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0.0,1896.0,NaN,1.0,"Documentary,Short",98981
4,short,The Waterer Watered,L'arroseur arrosé,0.0,1895.0,NaN,1.0,"Comedy,Short",113048
...,...,...,...,...,...,...,...,...,...
26689,movie,Crazy Beautiful You,Crazy Beautiful You,0.0,2015.0,NaN,114.0,"Comedy,Drama,Romance",130089
26690,movie,Bikes vs Cars,Bikes vs Cars,0.0,2015.0,NaN,90.0,Documentary,129822
26691,movie,Polskie gówno,Polskie gówno,0.0,2014.0,NaN,93.0,"Comedy,Musical",128734
26692,short,Power Rangers,Power Rangers,0.0,2015.0,NaN,14.0,"Action,Sci-Fi,Short",130842
26693,tvSpecial,Aziz Ansari Live in Madison Square Garden,Aziz Ansari Live in Madison Square Garden,0.0,2015.0,NaN,58.0,Comedy,131017